# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
+ List popular languages
+ List common used libraries
+ Set up data science tools table

Some of the popular languages that Data Scientists use are:

1. First Python
2. Second R Language
3. Third SQL

Some of the commonly used libraries used by Data Scientists include:

1. First Pandas
2. Second Numpy
3. Third Matplotlib


|Data Science Tools|
--------------------
|Jupyter Notebook|
|Tableu|
|MS Azure|

### Below are a few examples of evaluating arithmetic expressions in Python.
2+3=5

In [49]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [51]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Aamir Amin